:root {
  --light: white;
  --dark: gray;
  --header: linear-gradient(to right, #fdbebd, #a4dbff);
  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background: var(--header);
  color: var(--light);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header h1 {
  text-align: left;
  letter-spacing: 0.2em;
  font-family: var(--font);
  font-weight: bold;
  margin-top: 18px;
  text-transform: uppercase;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  transition: 0.3s ease-in;
}

.header nav ul li a {
  display: inline-block;
  color: var(--light);
  text-decoration: none;
  font-size: 1.13em;
  font-weight: lighter;
  letter-spacing: 0.2em;
}

.header nav ul li a:hover {
  color: var(--dark);
}

.subtitle {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c907fd35452259.56f81712a1af8.gif");
  height: 400px;
  margin: 0;
}

#subtitle-text {
  font-family: var(--font);
  font-size: 1em;
  font-weight: bold;
  color: var(--light);
  letter-spacing: 0.15em;
  margin-top: 87px;
  background-color: var(--dark);
  text-align: right;
}

main {
  display: flex;
}

aside {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 10px;
  padding: 15px;
}

.aside-text {
  color: var(--dark);
  font-family: var(--font);
  font-weight: bold;
  letter-spacing: 0.15em;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  /* line-height: 14em; */
  border-right: 3px solid #fdbebd;
  height: 500px;
}

section {
  flex: 70%;
  background-color: var(--light);
  padding: 20px;
  margin: 10px;
  margin-top: 25px;
  text-align: left;
  margin-right: 30px;
}

p {
  color: var(--dark);
  margin: 10px;
  line-height: 2.5em;
  font-family: var(--font);
  width: 100%;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

#image-section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 20% 20%;
  margin-top: 50px;
}

.image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

#image1 {
  grid-row: 1;
  grid-column: span 2;
}

a {
  text-decoration: none;
  color: #fcaaa8;
  letter-spacing: 0.1em;
}

img {
  width: 100%;
  margin: 10px;
  border: 3px solid #a4dbff;
  opacity: 0.7;
  transition: 0.3s;
}

img:hover {
  box-shadow: 0 0 3px 2px #fdbebd;
  opacity: 1;
}

#app-image {
  width: 98%;
}

#ux-image {
  width: 100%;
}

h2 {
  font-size: 1em;
  font-family: var(--font);
  color: var(--dark);
  width: 100%;
  font-weight: normal;
  letter-spacing: 0.1em;
}

h3 {
  font-family: var(--font);
  font-weight: lighter;
  position: relative;
  bottom: 71px;
  color: var(--light);
  background-color: #94c6e7;
  left: 1em;
  font-size: 1.2em;
  letter-spacing: 0.12em;
}

.contact-container {
  text-align: center;
  margin-top: 50px;
}

li {
  color: #fdbebd;
  margin: 10px;
  display: inline-block;
  font-family: var(--font);
  letter-spacing: 0.1em;
}

ul {
  letter-spacing: 20px;
  margin-top: 25px;
}

form {
  display: flex;
  color: var(--dark);
  font-family: var(--font);
  margin: 10px;
  text-align: left;
  letter-spacing: 0.1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-position {
  width: 400px;
  display: flex;
}

input#fname {
  margin: 10px;
  width: 9.5em;
}

input#lname {
  margin: 10px;
  width: 9.8em;
}

input#fname,
input#lname,
textarea#message {
  font-family: var(--font);
  letter-spacing: 0.1em;
}

label {
  margin-top: 9px;
}

textarea {
  height: 10em;
  width: 20em;
  margin-top: 10px;
  margin-left: 25px;
  border-radius: 2px;
  letter-spacing: 0.1em;
}

#submit {
  margin: 10px;
  width: 5em;
  height: 2em;
  letter-spacing: 0.1em;
  color: var(--light);
  background-color: #fdbebd;
  border-radius: 2px;
  border: 1px solid #a4dbff;
  margin-top: 117px;
}

#submit:hover {
  color: var(--light);
  background-color: #a4dbff;
  box-shadow: 0 0 3px 2px #a4dbff;
}

.footer h4 {
  color: var(--light);
  font-weight: lighter;
  text-align: center;
  font-family: var(--font);
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 10px;
  background: var(--header);
}

/* 
@media screen and (max-width: 992px) {
  main,
  nav {
    flex-direction: column;
  }
} */

@media screen and (max-width: 768px) {
  aside h2 {
    font-size: 13px;
  }
  h3 {
    display: flex;
    font-size: 0.85em;
  }
}

/* @media screen and (max-width: 576px) {
  main,
  nav {
    flex-direction: column;
  }
} */
