:root {
  --light: white;
  --dark: gray;
  --header: linear-gradient(to right, rgb(255, 184, 166), rgb(163, 217, 253));
  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background: var(--header);
  color: var(--light);
  position: fixed;
  width: 100%;
}

.header h1 {
  text-align: left;
  letter-spacing: 0.3em;
  font-family: var(--font);
  font-weight: lighter;
  margin-top: 20px;
  text-transform: uppercase;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  transition: 0.3s ease-in;
}

.header nav ul li a {
  display: inline-block;
  color: var(--light);
  text-decoration: none;
  font-size: 1.13em;
  font-weight: lighter;
  letter-spacing: 0.3em;
}

.header nav ul li a:hover {
  color: var(--dark);
}

.subtitle {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c907fd35452259.56f81712a1af8.gif");
  /* opacity: 0.7; */
  text-align: right;
  height: 400px;
  margin: 0;
}

#subtitle-text {
  font-family: var(--font);
  font-size: 1.12em;
  font-weight: normal;
  color: rgb(41, 41, 41);
  letter-spacing: 0.15em;
}

main {
  display: flex;
}

aside {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 10px;
  padding: 15px;
}

.aside-text {
  color: var(--dark);
  font-family: var(--font);
  letter-spacing: 0.15em;
  width: 100%;
  padding: 10px;
  line-height: 14em;
  border-right: 3px solid rgb(163, 217, 253);
  height: 500px;
}

section {
  flex: 70%;
  background-color: var(--light);
  padding: 20px;
  margin: 10px;
  margin-top: 25px;
  text-align: left;
  margin-right: 30px;
}

p {
  color: var(--dark);
  margin: 10px;
  line-height: 2.5em;
  font-family: var(--font);
  width: 100%;
  font-size: 1.1em;
}

#image-section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 20% 20%;
  margin-top: 50px;
}

.image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

#image1 {
  grid-row: 1;
  grid-column: span 2;
}

a {
  text-decoration: none;
  color: rgb(163, 217, 253);
  letter-spacing: 0.1em;
}

img {
  width: 100%;
  margin: 10px;
  border: 3px solid rgb(255, 184, 166);
  opacity: 0.7;
  transition: 0.3s;
}

img:hover {
  box-shadow: 0 0 3px 2px rgb(163, 217, 253);
  opacity: 1;
}

#app-image {
  width: 98%;
}

#ux-image {
  width: 100%;
}

h2 {
  font-size: 1em;
  font-family: var(--font);
  color: var(--dark);
  width: 100%;
  font-weight: normal;
  letter-spacing: 0.1em;
}

h3 {
  font-family: var(--font);
  font-weight: lighter;
  position: relative;
  bottom: 44px;
  color: var(--light);
  background-color: rgb(255, 184, 166);
  left: 1em;
  font-size: 0.9em;
  letter-spacing: 0.12em;
}

.contact-container {
  text-align: center;
  margin-top: 50px;
}

li {
  color: rgb(163, 217, 253);
  margin: 10px;
  display: inline-block;
  font-family: var(--font);
  letter-spacing: 0.1em;
}

ul {
  letter-spacing: 20px;
  margin-top: 25px;
}

form {
  color: var(--dark);
  font-family: var(--font);
  margin: 10px;
  text-align: left;
  letter-spacing: 0.1em;
}

input#fname {
  margin: 10px;
  width: 9.5em;
}

input#lname {
  margin: 10px;
  width: 9.8em;
}

input#fname,
input#lname,
textarea#message {
  font-family: var(--font);
  letter-spacing: 0.1em;
}

#fname #lname #message {
  margin-left: 100px;
}

textarea {
  height: 10em;
  width: 29em;
  margin-top: 10px;
  margin-left: 25px;
  border-radius: 2px;
  letter-spacing: 0.1em;
}

#submit {
  margin: 10px;
  width: 5em;
  height: 2em;
  letter-spacing: 0.1em;
  color: var(--light);
  background-color: rgb(163, 217, 253);
  border-radius: 2px;
  border: 1px solid rgb(153, 152, 150);
}

#submit:hover {
  color: var(--dark);
  background-color: rgb(255, 184, 166);
  box-shadow: 0 0 3px 2px rgb(255, 184, 166);
}

.footer h4 {
  color: var(--light);
  font-weight: lighter;
  text-align: center;
  font-family: var(--font);
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 10px;
  background: var(--header);
}

/* 
@media screen and (max-width: 992px) {
  main,
  nav {
    flex-direction: column;
  }
} */

@media screen and (max-width: 768px) {
  aside h2 {
    font-size: 13px;
  }
}

/* @media screen and (max-width: 576px) {
  main,
  nav {
    flex-direction: column;
  }
} */
