:root {
  --light: white;
  --purple: rgb(94, 73, 214);
  --dark: black;
  --header: linear-gradient(to right, black,rgb(94, 73, 214));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--light);
  }


.header {
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  padding: 25px;
  background: var(--header);
  color: #fff;
  }

.header h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: 200;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.085em;
  }

.header h1 .port {
    color: var(--light);
  }


.header nav ul {
    list-style-type: none;
    display: flex;
  }

.header nav ul li {
    display: inline-block;
  }
  
a {
    color: var(--light);
    text-decoration: none;
  }
 
main {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 10px;
  
}

img {
  border: 2px solid var(--purple);
  border-radius: 8px;
  padding: 5px;
  max-width: 30%;
  height: 60%;
}

img:hover {
  box-shadow: 0 0 3px 2px rgb(190, 158, 240);
}


h2 {
  font-size: 1.5em;
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  letter-spacing: 0.085em;
}

h3 {
  font-size: 1em;
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  letter-spacing: 0.085em;
}

.card {
  flex: 1 0 200px;
  padding: 10px;
  margin-left: 250px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
}


p {
  color: var(--dark);
  margin: 10px;
  display: inline-block;
  line-height: 1.5em;
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.work h2 {
  margin: 0.4em;
  padding: 0;
}

.expertise {
  margin: 0.1em;
  padding: 0;
}

li{
  color: var(--dark);
  margin: 20px;
  display: inline-block;
  line-height: 0.1em;
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.085em;
  float: left;
}



.expertise h3 ul {
  list-style-type: none;
}
.contact {
  margin: 1em;
  padding: 0;
}


form {
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

input {
  margin: 10px;
  width: 10.5em;
}

input:hover {
  box-shadow: 0 0 3px 2px rgb(190, 158, 240);
}

textarea {
  height: 10em;
  width: 29em;
  margin-top: 10px;
  margin-left: 34px;
}

textarea:hover {
  box-shadow: 0 0 3px 2px rgb(190, 158, 240);
}

#submit {
  margin: 10px;
  width: 5em;
}

.footer h4{
  color: var(--dark);
  font-weight: lighter;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;

}

@media screen and (max-width: 992px) {
  
}

